<section id="request-get" class="main">
  <h2>받은 리퀘스트</h2>
  <hr>
  {% for req in pendingReq_l %}
  <h2>{{ req["message"] }} {% if req["isSecret"] %}<span class="icon fa-lock"></span>{% endif %}</h2>
  <p>{{ req["timestamp"][:-7] }}{% if not req.isAnonymous %}에 <a
      href="https://twitter.com/{{ req['author_id'] }}">{{ req["author"] }}</a>님이 리퀘스트함{% endif %}</p>
  <hr>
  {% endfor %}
</section>
<section id="request-complete" class="main">
  <h2>완료한 리퀘스트</h2>
  <hr>
  {% for req in completeReq_l %}
  <h2>{{ req["message"] }} {% if req["isSecret"] %}<span class="icon fa-lock"></span>{% endif %}</h2>
  <p>{{ req["timestamp"][:-7] }}{% if not req.isAnonymous %}에 <a
      href="https://twitter.com/{{ req['author_id'] }}">{{ req["author"] }}</a>님이 리퀘스트함{% endif %}</p>
  <hr>
  {% endfor %}
</section>